
body {
	width: 1024px;
	margin: 0 auto;
	background-color: #F8F4E3;
}

ul.genreMenu {
    list-style: none;
    padding: 0;
    margin: 10px 0px;
}

ul.genreMenu li {
    display: inline;
    margin-right: 10px;
}
