
body {
	width: 80%;
	margin: 0 auto;
	background-color: #F8F4E3;		
}

ul.genreMenu {
    list-style: none;
    padding: 0;
    margin: 10px 0px;
}

ul.genreMenu li {
    display: inline;
    margin-right: 10px;
}

.floatedImage {
	width:214px;
	height:330px;
	float:left;
	margin:1em;
}

table {
     border-collapse: collapse;
 }

table, th, td {
     border: 1px solid silver;
     padding: 3px 20px;
}

th, td {
	min-wide: 200px;	
}

th {
	background-color: grey;
    color: white;
    height: 50px;
}

.fout {
	color:red;
}